@model IEnumerable<RainbowWine.Data.RoutePlan>

@{
    ViewBag.Title = "Packed Orders";
}

<h2>In Packed Stage</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedDate)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.SlotStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlotEnd)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.JobId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isOutForDelivery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.OrderStatu.OrderStatusName)
        </th>
        <th>
            Assigned To
        </th>
        <th></th>
    </tr>
    @if (Model == null)
    {
        <tr><td colspan="9">No Data</td></tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedDate)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.SlotStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SlotEnd)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.JobId)
                </td>
                <td>
                    @(item.isOutForDelivery ?? false)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.OrderStatu.OrderStatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryAgent.DeliveryExecName)
                </td>
                <td>
                    @Html.ActionLink("Details", "Pack", new { id = item.OrderID })
                </td>
            </tr>
        }
    }
</table>
