@model RainbowWine.Data.Inventory

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Product", htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDetail.ProductName)
        </dd>

        <dt>
            @Html.Label("Shop Name", htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WineShop.ShopName)
        </dd>

        <dt>
            @Html.Label("Qty Available", htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtyAvailable)
        </dd>

        <dt>
            @Html.Label("MRP", htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MRP)
        </dd>

        <dt>
            @Html.Label("MRP", htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.packing_size)
        </dd>

        <dt>
            @Html.Label("Last Modified", htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModified)
        </dd>

        <dt>
            @Html.Label("Last Modified By", htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedBy)
        </dd>

        <dt>
            @Html.Label("ShopItem Id", htmlAttributes: new { @class = "control-label" })
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopItemId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
