@model RainbowWine.Data.Inventory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtyAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtyAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MRP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MRP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.packing_size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.packing_size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShopItemId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopItemId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WineShop.ShopName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WineShop.ShopName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InventoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
