@model IEnumerable<RainbowWine.Data.Inventory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtyAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MRP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.packing_size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopItemId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WineShop.ShopName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QtyAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MRP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.packing_size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShopItemId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WineShop.ShopName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.InventoryId }) |
                @Html.ActionLink("Details", "Details", new { id = item.InventoryId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.InventoryId })
            </td>
        </tr>
    }

</table>
