@model IEnumerable<RainbowWine.Data.PenaltyDetails_Agent_Month_Result>
@{
    ViewBag.Title = "agentwisepenaltyDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>agentwisepenaltyDetail</h2>*@

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap.min.css">
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap.min.js"></script>

<br />
<table class="table table-striped table-bordered" id="listtable">
    <thead>
        <tr> <td colspan="5"> <h2> Penalty & incentive Detail</h2></td>  </tr>
        <tr>
            <td colspan="5">
                <p>  Delivery Agenet Name: @ViewBag.DeliveryExecName </p>
                <p>  Shop Name:- @ViewBag.ShopName </p>
                <p align="left"> Amount: @ViewBag.PenaltyAmount</p>

            </td>
        </tr>
        <tr>
            <td colspan="5" align="right">

                Selct Month
                @if (ViewBag.month_list != null)
                {
                    @Html.DropDownList("month_list", (IEnumerable<SelectListItem>)ViewBag.month_list, "Select Month name")

                }

                <button id="btnSearch"> Search</button>

            </td>
        </tr>
        <tr>
            <th>
                Order Id
            </th>
            <th>
                Reason
            </th>

            <th>
                Date
            </th>
            <th>
                Penalty & incentive
            </th>

            <th>
                Action
            </th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PenaltyDescription)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PenaltyDate)
                </td>

                <td>
                    @if (item.IsPenalty == 1)
                    {
                        <h5 style="color:red"> @Html.DisplayFor(modelItem => item.PenaltyAmount)</h5>
                    }

                    @if (item.IsPenalty == 0)
                    {
                        <h5 style="color:green"> @Html.DisplayFor(modelItem => item.PenaltyAmount)</h5>

                    }


                </td>

                <td>
                    @*@Html.ActionLink("Detail", "agentwisepenaltyDetail", new { DeliveryAgentID = item.DeliveryAgentID })*@

                </td>
            </tr>

        }


    </tbody>


</table>

<div>
    @Html.ActionLink("Back to List", "agentwisepenalty")
</div>



@section scripts{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>

        $(document).ready(function () {
            $.noConflict();
            $('#listtable').DataTable({
                "searching": false,
                "lengthChange": false,
                "pageLength": 100
            });
        });

        $('#btnSearch').click(function () {
            var Month = $('#month_list').val();
           
            window.location = "/DeliveryAgents/agentwisepenaltyDetail?month=" + Month;
        })
       
    </script>
}