@model IEnumerable<RainbowWine.Data.DeliveryAgent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Delivery Agenet Name
        </th>
        <th>
            Last Delivery On
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
           Travel Mode
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coverage)
        </th>
        <th>
            Is At Shop
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExciseID)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.DocPath)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.DeliverySlot.DeliverySlotID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WineShop.ShopName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryExecName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastDeliveryOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TravelMode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Coverage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAtShop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExciseID)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.DocPath)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.DeliverySlot.DeliverySlotID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WineShop.ShopName)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
