@model RainbowWine.Data.WineShop

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WineShop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShopName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShopName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GoogelCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GoogelCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableAgent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableAgent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VAT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
